{% extends 'home/base.html'%}
{% block title%}
    Home page
{% endblock %}

{% block body %}
    <h1>Welcome to home page!</h1>
    <br><br><br><br>
    <center>
        <p style="font-size: 30px;">Streamline your claims management with our cutting-edge solution built using Django and powered by NLP Transformers. Our platform leverages advanced AI to analyze client sentiment and emotions, automate routine tasks, and ensure efficient follow-ups, all while delivering a seamless user experience.</p>
        <br><br>
        <p style="font-size: 30px;"><strong>Revolutionize claims processing with intelligence and efficiency!</strong></p>
    </center>
{% endblock %}